<ul class="nav sidebar-inner" id="sidebar-menu-admin">

    <li class="has-sub active expand">
        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#main" aria-expanded="false" aria-controls="main">
            <i class="mdi mdi-book-open-page-variant"></i>
            <span class="nav-text">Admin panel</span> <b class="caret"></b>
        </a>
        <ul class="collapse show" id="main" data-parent="#sidebar-menu-admin">
            <div class="sub-menu">

                <li class="section-title">
                    Main
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="sidenav-item-link">Overview</a>
                </li>

                <li class="section-title">
                    Employees
                </li>

                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Employee" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Employee" asp-area="Admin" class="sidenav-item-link">List of employees</a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Employee" && ViewContext.RouteData.Values["Action"].ToString() == "New" ? "active" : "")">
                    <a asp-action="New" asp-controller="Employee" asp-area="Admin" class="sidenav-item-link">Add new employee</a>
                </li>

                <li class="section-title">
                    Articles
                </li>

                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Article" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Article" asp-area="Admin" class="sidenav-item-link">All articles</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Article" && ViewContext.RouteData.Values["Action"].ToString() == "New" ? "active" : "")">
                    <a asp-action="New" asp-controller="Article" asp-area="Admin" class="sidenav-item-link">Add new article</a>
                </li>
            </div>
        </ul>
    </li>
</ul>